@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Merriweather:wght@900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
}

.banner {
    background-image: url('../resources/banner.png');
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    background-position: center;
    border-radius: 16px;
    background: rgba(7, 2, 17, 0.00) 100%);



    margin: 0 auto;
    margin-top: 50px;

}

.banner-text {
    margin-top: 0 auto;
    justify-content: space-around;
    padding-top: 177px;
}

.text1 {
    color: #FFF;
    /* margin-bottom: auto; */

    text-align: center;
    font-family: Merriweather;
    font-size: 32px;

    font-weight: 400;
    line-height: normal;
}

.text2 {
    color: #FFF;
    width: 632px;
    text-align: center;
    margin: 0 auto;
    font-family: Merriweather;
    font-size: 72px;


    font-weight: 900;
    line-height: 95px;
    /* 131.944% */
}

.container {
    text-align: center;
    margin-top: 120px;

}

.text3 {
    color: #F00;

    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.text4 {
    color: #F00;

    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.text5 {
    color: #070211;

    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.img1 {
    width: 802.9px;
    height: 500px;
    flex-shrink: 0;
}

.container2 {
    background-image: url('../resources/Vectorrr.png');
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-repeat: no-repeat;
    background-position: center;
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    margin: 0 auto;
    fill: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    margin-top: 120px;




}



.img2 {
    display: flex;
    width: 319.83px;
    height: 464.662px;
    padding: 0.008px 0px 0px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

}

.container-greeting {
    color: #FFF;

    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;

}

.greeting-description {
    color: rgba(255, 255, 255, 0.80);

    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 20px;

}

.btn1 {
    color: #FFFFFF;

    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-left: 40px;
    margin-top: 20px;



}

.container3 {
    width: 1320px;
    height: 482px;
    flex-shrink: 0;
    background-color: #FFF8F3;
    text-align: center;
    margin: 0 auto;
    margin-top: 120px;
    width: 1320px;
    height: 482px;
    flex-shrink: 0;




}

.t1 {
    color: #F00;
    color: #F00;

    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    /* 175% */
    text-transform: capitalize;
}

.t2 {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.btn2 {
    color: #FFF;

    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #F00;
    margin-top: 64px;
}

.container4 {

    padding-top: 100px;
    padding: 0 auto;

}

.container5 {
    display: flex;
    justify-content: space-around;
    margin-top: 120px;
    align-items: center;


}

.container6 {
    margin-left: 195px;

}

.container7 {
    margin-right: 195px;
    padding-top: 100px;
}

.text7 {
    color: #F00;

    /* text-align: center; */
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.t3 {
    color: #070211;

    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-top: 16px;
}

.t4 {
    color: rgba(7, 2, 17, 0.60);

    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-top: 16px;
    /*  */

}

.img3 {
    border-radius: 463px;
    border: 15px solid #F00;
    width: 463px;
    height: 463px;
    flex-shrink: 0;
}

.t5 {
    color: #F00;

    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.t6 {
    color: rgba(7, 2, 17, 0.60);

    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-top: 16px;
    /* width: 276px */
}



.img4 {
    width: 140px;
    height: 140px;
    flex-shrink: 0;
    padding-top: 60px;

}

.container8 {
    width: 1600px;
    height: 7335px;
    background: #FFF;
    margin-top: 120px;
    margin: 0 auto;
    justify-content: center;
    margin-right: 10px;


}

.text8 {
    text-align: center;
    margin-top: 120px;

}

.t7 {
    color: #070211;

    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.t8 {
    color: #F00;

    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.t9 {
    color: rgba(7, 2, 17, 0.60);

    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    /* width: 1068px; */
}

.img5 {
    display: inline-flexbox;
    justify-content: center;
}

/* .img6 {

    

} */

.img7 {
    width: 206.841px;
    height: 206.841px;
    flex-shrink: 0;
    fill: #F00;
    margin-bottom: 60px;



}

.img8 {
    width: 429px;
    height: 433px;
    flex-shrink: 0;
    border-radius: 16px 16px 0px 0px;
    /* margin-top: 140px; */

}

.img9 {
    width: 1320px;
    height: 229px;
    flex-shrink: 0;
    border-radius: 16px 0px 16px 16px;
    background: #F00;
    padding-right: 120px;
    /* margin-top: 10 px; */
}

.container10 {
    /* margin-top: 120px;
    display: center; */
    justify-content: center;
    /* margin-bottom: auto; */
    /* text-align: justify; */
    text-align: center;
    margin-bottom: 200px;


}

.t11 {
    color: #F00;

    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

.t12 {
    color: #070211;

    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.t13 {
    color: rgba(7, 2, 17, 0.60);

    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-top: 10px;
    padding-bottom: 25px;
}

.img10 {
    border-radius: 16px;
    position: relative;
    display: inline-block;
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;


}

.img11:hover {

    transform: scale(1.1);
    background: lightgray;


}

.img12:hover {

    transform: scale(1.1);
    background: lightgray;


}

.img13:hover {

    transform: scale(1.1);
    background: lightgray;


}

.img14 {
    border-radius: 16px;
    position: relative;
    display: inline-block;
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
}

.img15:hover {

    transform: scale(1.1);
    background: lightgray;


}

.img16:hover {

    transform: scale(1.1);
    background: lightgray;


}

.img17:hover {

    transform: scale(1.1);
    background: lightgray;


}

#newsletter {
    margin: 120px 0;
}

.conatiner11-main {
    text-align: center;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    width: 1320px;
    height: 616px;
    flex-shrink: 0;
    justify-content: center;
    /* padding: 0 140px; */
    margin: 0 auto;

}



.img18 {
    width: 150px;
    height: 150px;
    flex-shrink: 0;
    padding-top: 80px;
}

.t13 {
    color: #070211;

    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.t14 {
    color: rgba(7, 2, 17, 0.60);

    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

#newsletter form {
    padding-top: 48px;
}

#newsletter form input {
    /* flex-grow: 1; */
    border-radius: 50px;
    background: #FFF;
    width: 648px;
    height: 72px;
    flex-shrink: 0;
    color: rgba(7, 2, 17, 0.30);

    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

#newsletter form button {
    width: 210px;
    height: 72px;
    flex-shrink: 0;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    color: #FFF;

    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;


}

.newsletter1 {
    margin: 120px 0;

}

.container12-main {
    background: #070211;
    /* text-align: center; */
    width: 2000px;
    height: 609px;
    flex-shrink: 0;
    padding-top: 120px;

}

.container12 {
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    padding-right: 80px;
    padding-bottom: 70px;

}

.t14 {
    color: #FFF;

    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
}

.img19 {
    color: #FFF;

    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
}

.img20 {

    text-align: center;
    gap: 20px;
}

.img20 hr {
    width: 1320px;
    height: 1px;
    background: rgba(255, 255, 255, 0.15);
    margin-left: 270px;
    row-gap: 20px;



}

.img20 img {
    padding: 30px 0;
    width: 64px;
    height: 64px;
    flex-shrink: 0;


}

.t15 {
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    padding-right: 80px;
    padding-bottom: 70px;
    color: #FFF;

    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    margin-top: 150px;


}